<center>
  <form action="/user/create" method="POST" onsubmit="return checkMatchingPasswords()">
    <h2 class="logo-font slogan amber-text text-darken-3">create an account</h2>


    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" name="name" id="name">
      <label class="mdl-textfield__label" for="name">Name..</label>
    </div><br />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="email" name="email" id="email">
      <label class="mdl-textfield__label" for="email">Email..</label>
    </div><br />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="password" name="password" id="password">
      <label class="mdl-textfield__label" for="password">Password..</label>
    </div><br />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" value="" type="password" name="passwordConfirmation"
             id="passwordConfirmation">
      <label class="mdl-textfield__label" for="passwordConfirmation">Confirm Password..</label>
    </div>
    <br/>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect amber darken-3 white-text">Sign Up</button>
  </form>
  <br>
  <a id="back" href="" onclick="goBack()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
    <i class="material-icons">navigate_before</i>
  </a>
  <div class="mdl-tooltip mdl-tooltip--large" for="back">
    Go back to the previous page
  </div>

  <script>
    function checkMatchingPasswords() {
      var passwordField = document.getElementById('password').value;
      var passwordConfirmationField = document.getElementById('passwordConfirmation').value;
      if (passwordField == passwordConfirmationField && passwordField != '' && passwordConfirmationField != '') {
        return true;
      } else {
        if (passwordField == '' || passwordConfirmationField == '') {
          alert("Error: One or both of the fields are empty.")
          return false;
        } else {
          alert("Error: The passwords do not match")
          return false;
        }
      }
    }
  </script>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</center>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97439800-1', 'auto');
  ga('send', 'pageview');

</script>
