<center>
  <form action="/user/create" method="POST" >
    <h2 class="logo-font slogan amber-text text-darken-3">create an account</h2>


    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" name="name" id="name">
      <label class="mdl-textfield__label" for="name">Name..</label>
    </div><br />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="email" name="email" id="email">
      <label class="mdl-textfield__label" for="email">Email..</label>
    </div><br />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="password" name="password" id="password">
      <label class="mdl-textfield__label" for="password">Password..</label>
    </div><br />
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect amber darken-3 white-text">Sign Up</button>
  </form>
  <br>
  <a id="back" href="" onclick="goBack()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
    <i class="material-icons">navigate_before</i>
  </a>
  <div class="mdl-tooltip mdl-tooltip--large" for="back">
    Go back to the previous page
  </div>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</center>
