<center>
  <h1 class="logo-font slogan amber-text text-darken-3"><%= brewery.name %></h1>
  <h2 class="logo-font sub-slogan"><%= brewery.owner.name %></h2>

  <br/>

  <div id="chart_div" style="width: 100%; height: 500px;"></div>

  <br>
  <a id="back" href="" onclick="goBack()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
    <i class="material-icons">navigate_before</i>
  </a>
  <div class="mdl-tooltip mdl-tooltip--large" for="back">
    Go back to the previous page
  </div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Hour', 'Temp C°'],
        ['00:00',  21.6],
        ['01:00',  22.1],
        ['02:00',  22.0],
        ['03:00',  21.7],
        ['04:00',  20.1],
        ['05:00',  20.1],
        ['06:00',  19.8],
        ['07:00',  17.7],
        ['08:00',  18.6],
        ['09:00',  20.1],
        ['10:00',  22.0],
        ['11:00',  22.1],
        ['12:00',  21.6],
        ['13:00',  21.6],
        ['14:00',  22.1],
        ['15:00',  22.0],
        ['16:00',  21.7],
        ['17:00',  20.1],
        ['18:00',  20.1],
        ['19:00',  19.8],
        ['20:00',  17.7],
        ['21:00',  18.6],
        ['22:00',  20.1],
        ['23:00',  22.0]
      ]);

      var options = {
        title: 'Temperature measurements past 24 hours',
        hAxis: {title: 'Hour',  titleTextStyle: {color: '#333'}},
        vAxis: {}
      };

      var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</center>
