.main-container {
  width: 800px;
  margin: 0 auto;
}

.aboutcard-container {
  width: 600px;
  margin: 0 auto;
}

.togglebox-container {
  width: 100px;
  margin: 0 auto;
}

.centralized {
  margin: 0 auto;
}

.centralized-text {
  text-align: center;
}

.footer-stay-down-m8 {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.2;
  font-weight: 500;
}

/*
Title
 */
.slogan {
  font-size: 55px;
  padding-top: 0px;
}

/*
Subtitle
 */
.sub-slogan {
  font-size: 20px;
  padding-top: -50px;
}

.breweries-container {
  width: 200px;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .footer {
    visibility: hidden;
    display: none;
  }
}

.demo-card-wide.mdl-card {
  width: 512px;
}

@media screen and (max-width: 320px) {
  .demo-card-wide.mdl-card {
    width: 256px;
  }
}

@media screen and (min-width: 321px) and (max-width: 650px) {
  .demo-card-wide.mdl-card {
    width: 320px;
  }
}

.demo-card-wide > .mdl-card__title {
  color: #FFFFFF;
  height: 176px;
  background: url('http://washingtonbeer.com/cms_images/bg-HeadersWorking_500-01.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #000000;
}

.account-status {
  background: rgb(66, 183, 42);
  border-radius: 50%;
  height: 6px;
  width: 6px;
}

.about-shadow {
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}
