<div class="container">
  <br/>
  <h1 class="logo-font slogan amber-text text-darken-3 centralized-text">brewsource</h1>
  <h4 class="logo-font sub-slogan centralized-text">a raspberry pi-powered monitor for your fermentation </h4>
  <br>
  <div class="row center">
    <h5 class="header col s12 light">Sign up below to start brewing!</h5>
  </div>
  <div class="row center">
    <a href="../user/new" id="registerBtn"
       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect amber darken-3 white-text">Register</a>
  </div>
  <br><br>

</div>
</div>

<div class="container">
  <div class="section">
    <br>

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <p class="light"></p>
        </div>
      </div>

      <div class="col s12 m4 centralized">
        <div class="icon-block">
          <p class="light centralized centralized-text">
            BrewSource is an Open Source class project at the University of Agder created for learning
            open source principles, code and more..
          </p>
          <p class="centralized-text"><a href="https://github.com/mortea15/BrewSource" target="_blank">
              Check us out over on GitHub!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
