<!-- Styles -->

<link rel="stylesheet" href="/styles/angular-toastr.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/third-party/material/material.css">
<link rel="stylesheet" href="/styles/third-party/material/material.min.css">
<link rel="stylesheet" href="/styles/third-party/materialize/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-deep_orange.min.css" />
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

<!-- End of Styles -->

<!-- Error state -->
<div class="alert alert-info toggle" ng-show="userProfile.errorMsg">
  <h5>Oops!</h5>
  <p>Looks like an error occurred. Please try again later.</p>
  <code>
    {{userProfile.errorMsg}}
  </code>
</div>

<!-- Loading state -->
<div ng-show="userProfile.loading">
  <span class="overlord-loading-spinner fa fa-spinner"></span>
  <span>Loading user data...</span>
</div>
<center>
  <div class="centralized-text main-container">

    <h2 class="logo-font slogan amber-text text-darken-3">edit profile</h2>
    <form ng-submit="editUser(userProfile.properties.id)">

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input type="text" class="form-control mdl-textfield__input" name="name" id="name"
               ng-model="userProfile.properties.name">
        <label class="mdl-textfield__label" for="name">Name..</label>
      </div>
      <br/>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input type="email" class="mdl-textfield__input" name="email" id="email"
               ng-model="userProfile.properties.email">
        <label class="mdl-textfield__label" for="email">Email..</label>
      </div>
      <br/>
      <div class="togglebox-container">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
          <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input"
                 ng-model="userProfile.properties.admin">
          <span class="mdl-checkbox__label">Admin?</span>
        </label>
      </div>
      <br/>

      <button type="submit"
              class="btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect amber darken-3 white-text">
        <span ng-show="userProfile.saving" class="overlord-loading-spinner fa fa-spinner"></span>
        <span ng-show="userProfile.saving">Saving...</span>
        <span ng-hide="userProfile.saving" class="btn-text">Save</span>
      </button>
    </form>
  </div>
</center>

<!-- Scripts -->

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.1.3.js"></script>
<script src="/js/dependencies/angular-messages.js"></script>
<script src="/js/dependencies/angular-route.min.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/lodash.min.js"></script>
<script src="/js/dependencies/moment.js"></script>
<script src="/js/brewsource-dashboard/BrewSourceDashboard.module.js"></script>
<script src="/js/brewsource-dashboard/DashboardCtrl.js"></script>
<script src="/js/brewsource-public/BrewSourcePublic.module.js"></script>
<script src="/js/brewsource-public/ui-controls/PublicCtrl.js"></script>
<script src="/js/third-party/material/material.js"></script>
<script src="/js/third-party/material/material.min.js"></script>
<script src="/js/third-party/materialize/jquery-2.1.1.min.js"></script>
<script src="/js/third-party/materialize/materialize.js"></script>
<script src="/js/third-party/materialize/materialize.min.js"></script>

<!-- End of Scripts -->
