<div class="main-container centralized-text">

  <h1 class="logo-font slogan amber-text text-darken-3 centralized-text">breweries</h1>

  <!-- Error state -->
  <div ng-show="userBreweryList.errorMsg">
    <h5>Oops!</h5>
    <p>Looks like an error occurred.  Please try again later.</p>
    <code>
      {{userBreweryList.errorMsg}}
    </code>
  </div>

  <!-- Loading state -->
  <div ng-show="userBreweryList.loading">
    <span class="overlord-loading-spinner fa fa-spinner"></span>
    <span>Loading breweries...</span>
  </div>

  <!-- Empty state -->
  <div ng-show="userBreweryList.contents.length === 0">
    <span>No breweries yet.</span>
  </div>

  <!-- Table -->
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp centralized-text"
         ng-show="!userBreweryList.loading && userBreweryList.contents.length > 0">

    <!-- Table header -->
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <!-- End of table header -->

    <!-- Table body -->
    <tbody>
    <!-- Repeat for every brewery in the list -->
    <tr ng-repeat="brewery in userBreweryList.contents" ng-show="brewery.owner.id == me.id">

      <!-- Table body -->
      <!-- Brewery's name -->
      <td  class="mdl-data-table__cell--non-numeric"> {{brewery.name}} </td>
      <!-- Brewery's email -->
      <td class="mdl-data-table__cell--non-numeric"> {{brewery.location}} </td>

      <!-- Show button -->
      <td>
        <a href="#/breweries/{{brewery.id}}" class="btn mdl-button mdl-js-button
        mdl-button--raised mdl-js-ripple-effect amber darken-3 white-text">Show</a>
      </td>

      <!-- Edit button -->
      <td>
        <a href="#/breweries/{{brewery.id}}/edit" class="btn mdl-button mdl-js-button
        mdl-button--raised mdl-js-ripple-effect amber darken-3 white-text">Edit</a>
      </td>

      <!-- Delete button -->
      <td>
        <a ng-disabled="brewery.deleting" ng-click="deleteBrewery(brewery.id)" class="btn mdl-button mdl-js-button
        mdl-button--raised mdl-js-ripple-effect amber darken-3 white-text">
          <span ng-show="!brewery.deleting">Delete</span>
          <span class="overlord-loading-spinner fa fa-spinner" ng-show="brewery.deleting" ></span>
          <span ng-show="brewery.deleting">Deleting...</span>
        </a>

      </td>
    </tr>
    </tbody>
    <!-- End of Table body -->
  </table>
  <!-- End of Table -->

  <br/>
  <br/>
  <a href="#/breweries/new" class="btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect amber darken-3 white-text">
    Create a new brewery
  </a>
</div>
