<!-- Styles -->

<link rel="stylesheet" href="/styles/angular-toastr.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/third-party/material/material.css">
<link rel="stylesheet" href="/styles/third-party/material/material.min.css">
<link rel="stylesheet" href="/styles/third-party/materialize/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

<!-- Square card -->
<style>
  .demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
  }

  .demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('') bottom right 15% no-repeat #f44336;
  }
</style>

<!-- End of Styles -->

<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title centralized-text">{{breweryBatch.properties.name}}</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#dayGraph" class="mdl-layout__tab is-active">24 Hour Graph</a>
      <a href="#weekGraph" class="mdl-layout__tab">7 Day Graph</a>
      <a href="#liveStream" class="mdl-layout__tab">LiveStream</a>
      <a href="#batchSettings" class="mdl-layout__tab">Batch</a>
    </div>
  </header>
  <main class="mdl-layout__content">

    <!-- 2 4  H O U R  G R A P H  tab -->
    <section class="mdl-layout__tab-panel is-active" id="dayGraph">
      <div class="page-content">
        <!-- START OF CONTENT -->
        <div class="centralized-text centralized">
          <center>

            <!-- Error state -->
            <div ng-show="breweryBatch.errorMsg">
              <h5>Oops!</h5>
              <p>Looks like an error occurred. Please try again later.</p>
              <code>
                {{errorMsg}}
              </code>
            </div>

            <!-- Loading state -->
            <div ng-show="breweryBatch.loading">
              <span class="overlord-loading-spinner fa fa-spinner"></span>
              <span>Loading batch data...</span>
            </div>

            <!-- Error state -->
            <div ng-show="batchTempList.errorMsg">
              <h5>Oops!</h5>
              <p>Looks like an error occurred. Please try again later.</p>
              <code>
                {{errorMsg}}
              </code>
            </div>

            <!-- Loading state -->
            <div ng-show="batchTempList.loading">
              <span class="overlord-loading-spinner fa fa-spinner"></span>
              <span>Loading batch temperatures...</span>
            </div>
            <p>24 Hour Temperature Graph</p>

            <div id="day_div" style="width: 100%; height: 500px;"></div>

            <!-- TODO: Limit this to only get the last 144 entries in the Array (entries for the past 24 hours) -->

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
              google.charts.load('current', {'packages': ['corechart']});
              google.charts.setOnLoadCallback(drawChart);

              function drawChart() {

                var chartData = [
                  ['Time', 'Temp C°']
                ];

                $scope.batchTempList.contents.forEach(function (batchTemp) {
                  chartData.push(
                    [new Date(batchTemp.createdAt), batchTemp.temperature]
                  );
                });

                var data = google.visualization.arrayToDataTable(chartData);

                var options = {
                  title: 'Temperature Measurements',
                  hAxis: {title: 'Time', titleTextStyle: {color: '#333'}},
                  vAxis: {}
                };

                var chart = new google.visualization.AreaChart(document.getElementById('day_div'));
                chart.draw(data, options);
              }

            </script>

          </center>
        </div>
        <!-- END OF CONTENT -->
      </div>
    </section>


    <!-- 7  D A Y  G R A P H  tab -->
    <section class="mdl-layout__tab-panel" id="weekGraph">
      <div class="page-content">
        <!-- START OF CONTENT -->

        <div class="centralized-text">

          <!-- Error state -->
          <div ng-show="breweryBatch.errorMsg">
            <h5>Oops!</h5>
            <p>Looks like an error occurred. Please try again later.</p>
            <code>
              {{errorMsg}}
            </code>
          </div>

          <!-- Loading state -->
          <div ng-show="breweryBatch.loading">
            <span class="overlord-loading-spinner fa fa-spinner"></span>
            <span>Loading batch data...</span>
          </div>

          <!-- Error state -->
          <div ng-show="batchTempList.errorMsg">
            <h5>Oops!</h5>
            <p>Looks like an error occurred. Please try again later.</p>
            <code>
              {{errorMsg}}
            </code>
          </div>

          <!-- Loading state -->
          <div ng-show="batchTempList.loading">
            <span class="overlord-loading-spinner fa fa-spinner"></span>
            <span>Loading batch temperatures...</span>
          </div>

          <p>7 Day Temperature Graph</p>

          <div id="week_div" style="width: 100%; height: 500px;"></div>

          <!-- TODO: Limit this to only get the last 1008 entries in the Array (entries for the past 7 days) -->

          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <script type="text/javascript">
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

              var chartData = [
                ['Time', 'Temp C°']
              ];

              $scope.batchTempList.contents.forEach(function (batchTemp) {
                chartData.push(
                  [new Date(batchTemp.createdAt), batchTemp.temperature]
                );
              });

              var data = google.visualization.arrayToDataTable(chartData);

              var options = {
                title: 'Temperature Measurements',
                hAxis: {title: 'Time/Date', titleTextStyle: {color: '#333'}},
                vAxis: {}
              };

              var chart = new google.visualization.AreaChart(document.getElementById('week_div'));
              chart.draw(data, options);
            }

          </script>

          </center>

        </div>
        <!-- END OF CONTENT -->
      </div>
    </section>


    <!-- L I V E S T R E A M  tab -->
    <section class="mdl-layout__tab-panel" id="liveStream">
      <div class="page-content">
        <!-- START OF CONTENT -->
        <div class="centralized-text main-container">
          <br>
          <br>
          <!-- TODO This is just a temporary fix, with livestreaming through YouTube -->
          <!-- A more permanent and perhaps stable method should be considered in the future -->
          <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/x13pP-YR83g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                  allowfullscreen></iframe>

        </div>
        <!-- END OF CONTENT -->
      </div>
    </section>


    <!-- B A T C H  S E T T I N G S  tab -->
    <section class="mdl-layout__tab-panel" id="batchSettings">
      <div class="page-content">
        <!-- START OF CONTENT -->
        <div class="centralized-text">
          <br/>
          <br/>

          <script>
            $('#currTemp').val(breweryBatch.properties.temperatures.slice((breweryBatch.properties.temperatures.length - 1), breweryBatch.properties.temperatures.length));
          </script>

          <center>
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">{{breweryBatch.properties.name}}</h2>
              </div>
              <div class="mdl-card__supporting-text">
                <b>Ideal Temperature:</b> {{breweryBatch.properties.idealTemp}}°C<br>
                <b>Current Temperature: </b></span><br>
                {{breweryBatch.properties.createdAt}}
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   href="#/batches/{{breweryBatch.properties.id}}/edit">
                  Edit Batch
                </a>
              </div>
            </div>
          </center>

        </div>
        <!-- END OF CONTENT -->
      </div>
    </section>
  </main>
</div>

<!-- Google Analytics -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-97439800-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Scripts -->

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.1.3.js"></script>
<script src="/js/dependencies/angular-messages.js"></script>
<script src="/js/dependencies/angular-route.min.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/lodash.min.js"></script>
<script src="/js/dependencies/moment.js"></script>
<script src="/js/brewsource-dashboard/BrewSourceDashboard.module.js"></script>
<script src="/js/brewsource-dashboard/DashboardCtrl.js"></script>
<script src="/js/brewsource-public/BrewSourcePublic.module.js"></script>
<script src="/js/brewsource-public/ui-controls/PublicCtrl.js"></script>
<script src="/js/third-party/material/material.js"></script>
<script src="/js/third-party/material/material.min.js"></script>
<script src="/js/third-party/materialize/jquery-2.1.1.min.js"></script>
<script src="/js/third-party/materialize/materialize.js"></script>
<script src="/js/third-party/materialize/materialize.min.js"></script>

<!-- End of Scripts -->

